# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/assets/WIP-ignoreGit

# During ImageLoader development ignore the following components
# Turn them back on when needed
src/components/CircularLoader

src/components/BulkImagesLoader
src/pages/BulkLoading
src/pages/BulkLoading/BulkLoading.tsx

